*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    outline: none;
}
.footer-main-div{
   width: 100%;
   height: auto;
   margin: auto;
   background: #000000;
   padding: 20px;
}
.footer-social-icons{
    width: 100%;
    height:auto;
    margin: auto;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0%;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    width: 4%;
    height: 4%;
    margin: 0px 10px;
    border-radius: 100%;
    background: #28b275;
}
.footer-social-icons ul li a{
    color: #ffffff;
    font-size: 25px;
}
.footer-social-icons ul li a{
    line-height: 50px;
}
.footer-social-icons ul li:hover{
    background: #0400ff;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50%;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}
.footer-menu-one ul li a:hover{
    color:#28b275;
}
.footer-bottom{
    width: 100%;
    height: auto;
    background: #28b275;
    padding: 5px;
}
.footer-bottom p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
}